.wrapper {
	width: 100vw;
}

.phorm1 {
	position: absolute;
	width: 100%;
	top: 42%;
}

.phorm2-3 {
	position: absolute;
	height: 75%;
	top: 152%;
	left: 7%;
}

.phorm4 {
	position: absolute;
	height: 80%;
	top: 242%;
	left: 3%;
}

.phorm5 {
	position: absolute;
	height: 80%;
	top: 342%;
	right: 5%;
}

.phorm6 {
	position: absolute;
	height: 80%;
	top: 440%;
	left: 3%;
	padding-bottom: 3%;
}

.location {
	position: absolute;
	right: 6%;
	color: rgb(255, 85, 1);
	top: 239%;
}
