.phorm1 {
	position: absolute;
	width: 100%;
	top: 42%;
}

.phorm2-3 {
	position: absolute;
	height: 75%;
	top: 152%;
	left: 7%;
}

.phorm2 {
	position: absolute;
	opacity: 0;
	height: 0;
}

.phorm3 {
	position: absolute;
	opacity: 0;
	height: 0;
}

.phorm4 {
	position: absolute;
	height: 80%;
	top: 242%;
	left: 3%;
}

.phorm5 {
	position: absolute;
	height: 80%;
	top: 342%;
	right: 5%;
}

.phorm6 {
	position: absolute;
	height: 80%;
	top: 440%;
	left: 3%;
	padding-bottom: 3%;
}

.location {
	position: absolute;
	right: 6%;
	color: rgb(255, 85, 1);
	top: 239%;
}

@media only screen and (max-width: 600px) {
	.phorm1 {
		top: 18%;
	}
	,
	.phorm2-3 {
		opacity: 0;
		height: 0;
	}
	,
	.phorm2 {
		top: 62%;
		opacity: 1;
		height: 50%;
		left: 9%;
	}
	,
	.phorm3 {
		top: 125%;
		opacity: 1;
		height: 26%;
		right: 5.5%;
	}
	,
	.phorm4 {
		top: 163%;
		opacity: 1;
		height: 25%;
		left: 5.5%;
	}
	,
	.phorm5 {
		top: 200%;
		opacity: 1;
		height: 28%;
		right: 5.5%;
	}
	,
	.phorm6 {
		position: absolute;
		top: 255%;
		opacity: 1;
		height: 28%;
		left: 9%;
	}
	,
	.location {
		width: 100px;
		left: 9%;
		top: 234%;
	}
}

@media screen and (max-width: 900px) and (min-width: 601px) {
	.phorm1 {
		top: 130px;
	}
	,
	.phorm2-3 {
		height: 30%;
		top: 73%;
	}
	,
	.phorm4 {
		height: 35%;
		top: 122%;
		left: 3%;
	}

	,
	.phorm5 {
		height: 40%;
		top: 170%;
		right: 9%;
		height: 40%;
	}

	,
	.phorm6 {
		height: 40%;
		top: 222%;
		left: 3%;
	}
	,
	.location {
		right: 5%;
		top: 120%;
	}
}

// @media only screen and (max-width: 320px) {
// 	.phorm1 {
// 		top: 27%;
// 	}
//
// 	.phorm2-3 {
// 		opacity: 0;
// 		height: 0;
// 	}
//
// 	,
// 	.phorm2 {
// 		top: 70%;
// 		opacity: 1;
// 		height: 50%;
// 		left: 9%;
// 	}
// 	,
// 	.phorm3 {
// 		top: 111%;
// 		opacity: 1;
// 		width: 86%;
// 		right: 5.5%;
// 	}
// 	,
// 	.phorm4 {
// 		top: 163%;
// 		opacity: 1;
// 		height: 25%;
// 		left: 5.5%;
// 	}
// 	,
// 	.phorm5 {
// 		top: 200%;
// 		opacity: 1;
// 		height: 28%;
// 		right: 5.5%;
// 	}
// 	,
// 	.phorm6 {
// 		position: absolute;
// 		top: 255%;
// 		opacity: 1;
// 		height: 28%;
// 		left: 9%;
// 	}
// 	,
// 	.location {
// 		width: 100px;
// 		left: 9%;
// 		top: 234%;
// 	}
// }
