.wm1 {
	position: absolute;
	left: 4%;
	top: 6%;
	height: 90%;
}

.wm2 {
	position: absolute;
	left: 16%;
	top: 126%;
	height: 71%;
}

.wm3 {
	position: absolute;
	left: 52%;
	top: 119%;
	height: 86%;
}

.wm4 {
	position: absolute;
	left: 9%;
	top: 230%;
	height: 70%;
}

.wm5 {
	position: absolute;
	left: 46%;
	top: 225%;
	height: 79%;
}

.wm6 {
	position: absolute;
	left: 9%;
	top: 327%;
	height: 84%;
}

.wm7 {
	position: absolute;
	left: 54%;
	top: 340%;
	height: 79%;
}

.wm8 {
	position: absolute;
	left: 9%;
	top: 432%;
	height: 76%;
}

.wm9 {
	position: absolute;
	left: 50%;
	top: 448%;
	height: 67%;
}

.wm10 {
	position: absolute;
	left: 56%;
	top: 530%;
	height: 76%;
}
