.WMimagesLarge {
	width: 100vw;
}
.wm1 {
	position: absolute;
	left: 7%;
	top: 9%;
	height: 95%;
}

.wm2-3 {
	position: absolute;
	left: 15%;
	top: 119%;
	height: 91%;
}

.wm4-5 {
	position: absolute;
	left: 4%;
	top: 232%;
	height: 92%;
}

.wm6-7 {
	position: absolute;
	left: 2%;
	top: 337%;
	height: 100%;
}

.wm8-9 {
	position: absolute;
	left: 4%;
	top: 449%;
	height: 79%;
}

.wm10 {
	position: absolute;
	left: 44%;
	top: 546%;
	height: 96%;
}
