.OPTextWrapper {
	position: absolute;
	right: 5.5%;
	top: 40%;
	height: 800px;
	width: 350px;
	text-align: right;
	color: rgb(88, 246, 241);
}

.manhattenTitle {
	left: 40%;
	top: 60%;
}

.plumTitle {
	left: 34%;
	top: 187%;
}

.fatTitle {
	right: 10%;
	top: 323%;
}

.annieTitle {
	position: absolute;
	padding-left: 47%;
	top: 368%;
	color: rgb(88, 246, 241);
}

.gildaTitle {
	right: 7%;
	top: 461%;
}

@media only screen and (max-width: 600px) {
	.OPTextWrapper {
		top: 50%;
		height: 500px;
	}
	,
	.manhattenTitle {
		top: 33%;
		left: 62%;
	}
	,
	.plumTitle {
		top: 156%;
		left: 10%;
	}
	,
	.fatTitle {
		top: 221%;
		left: 45%;
	}
	,
	.annieTitle {
		padding-left: 0;
		top: 239%;
		right: 14%;
	}
	,
	.gildaTitle {
		top: 288%;
		right: 8%;
	}
}

@media screen and (max-width: 900px) and (min-width: 601px) {
	.OPTextWrapper {
		top: 15%;
	}

	.manhattenTitle {
		left: 4%;
		top: 34%;
	}

	.plumTitle {
		left: 22%;
		top: 98%;
	}

	.fatTitle {
		left: 33%;
		top: 174%;
	}

	.annieTitle {
		right: 8%;
		top: 203%;
		color: rgb(88, 246, 241);
	}

	.gildaTitle {
		right: 29%;
		top: 263%;
	}
}
