.wrapper {
	width: 100vw;
}

.bj1 {
	position: absolute;
	height: 120%;
	padding-left: 3%;
	top: 1%;
}

.bj2-4 {
	position: absolute;
	height: 90%;
	right: 3%;
	top: 140%;
}

.bj5-7 {
	position: absolute;
	height: 97%;
	left: 3%;
	top: 250%;
}

.bj8-9 {
	position: absolute;
	height: 83%;
	padding-left: 4%;
	top: 360%;
}

.bj10-12 {
	position: absolute;
	width: 90%;
	left: 7%;
	top: 465%;
}

.bj13-14 {
	position: absolute;
	width: 70%;
	padding-left: 2%;
	top: 585%;
}

.bj14-16 {
	position: absolute;
	width: 85%;
	padding-left: 6%;
	top: 705%;
}

.bj17-18 {
	position: absolute;
	width: 45%;
	left: 5%;
	top: 805%;
}

@media only screen and (max-width: 600px) {
	.bj1 {
		height: 65%;
		top: 14%;
		right: 9%;
	}
	,
	.bj2-4 {
		top: 124%;
		height: 42%;
	}
	,
	.bj5-7 {
		top: 177%;
		height: 42%;
	}
	,
	.bj8-9 {
		top: 226%;
		height: 36%;
	}
	,
	.bj10-12 {
		top: 273%;
	}
	,
	.bj13-14 {
		top: 311%;
	}
	,
	.bj14-16 {
		top: 346%;
	}
	,
	.bj17-18 {
		top: 381%;
	}
}

@media screen and (max-width: 900px) and (min-width: 601px) {
	.bj1 {
		height: 90%;
		right: 9%;
		top: 26px;
	}

	.bj2-4 {
		height: 50%;
		right: 9%;
		top: 132%;
	}

	.bj5-7 {
		height: 50%;
		left: 5%;
		top: 193%;
	}

	.bj8-9 {
		height: 50%;
		right: 5.5%;
		top: 253%;
	}

	.bj10-12 {
		height: 40%;
		width: auto;
		left: 5%;
		top: 313%;
	}

	.bj13-14 {
		height: 40%;
		width: auto;
		left: 5%;
		top: 365%;
	}

	.bj14-16 {
		height: 30%;
		width: auto;
		right: 5%;
		top: 415%;
	}

	.bj17-18 {
		height: 40%;
		width: auto;
		left: 5%;
		top: 455%;
	}
}
