// .WMimagesLarge {
// 	width: 100vw;
// }
.wm1 {
	position: absolute;
	padding-left: 7%;
	top: 9%;
	height: 95%;
}

.wm2-3 {
	position: absolute;
	left: 15%;
	top: 119%;
	height: 91%;
}

.wm4-5 {
	position: absolute;
	left: 4%;
	top: 232%;
	height: 92%;
}

.wm6-7 {
	position: absolute;
	left: 2%;
	top: 337%;
	height: 100%;
}

.wm8-9 {
	position: absolute;
	left: 4%;
	top: 449%;
	height: 79%;
}

.wm10 {
	position: absolute;
	right: 5.5%;
	top: 546%;
	height: 96%;
}

.wm2 {
	position: absolute;
	opacity: 0;
}

.wm3 {
	position: absolute;
	opacity: 0;
}

.wm4 {
	position: absolute;
	opacity: 0;
}

.wm5 {
	position: absolute;
	opacity: 0;
}

.wm6 {
	position: absolute;
	opacity: 0;
}

.wm7 {
	position: absolute;
	opacity: 0;
}

.wm8 {
	position: absolute;
	opacity: 0;
}

.wm9 {
	position: absolute;
	opacity: 0;
}

.wmWrapper {
	position: absolute;
	right: 5.5%;
	top: 35%;
	height: 400px;
}
.wmDescription {
	text-align: right;
	color: rgb(245, 27, 236);
	opacity: 1;
}
.wmDescriptionMobile {
	text-align: right;
	color: rgb(245, 27, 236);
	opacity: 0;
}

.wm1mob {
	opacity: 0;
}
@media only screen and (max-width: 600px) {
	.wm1 {
		top: 7%;
		height: 61%;
		right: 9%;
	}
	,
	.wmWrapper {
		top: 40%;
		right: 9%;
	}
	,
	.wmDescription {
		text-align: right;
		color: rgb(245, 27, 236);
		opacity: 0;
	}
	,
	.wmDescriptionMobile {
		opacity: 1;
	}
	,
	.wm2-3 {
		opacity: 0;
		top: 4%;
		height: 4%;
	}
	,
	.wm2 {
		opacity: 1;
		left: 5.5%;
		top: 155%;
		height: 60%;
	}
	,
	.wm3 {
		opacity: 1;
		right: 5.5%;
		top: 95%;
		height: 55%;
	}
	,
	.wm4-5 {
		opacity: 0;
		left: 4%;
		top: 4%;
		height: 4%;
	}
	,
	.wm4 {
		opacity: 1;
		right: 5.5%;
		top: 220%;
		height: 55%;
	}
	,
	.wm5 {
		opacity: 1;
		top: 280%;
		height: 50%;
		left: 5.5%;
	}
	,
	.wm6-7 {
		opacity: 0;
		left: 4%;
		top: 4%;
		height: 4%;
	}
	,
	.wm6 {
		opacity: 1;
		right: 5.5%;
		top: 335%;
		height: 50%;
	}
	,
	.wm7 {
		opacity: 1;
		left: 4%;
		top: 390%;
		height: 60%;
	}
	,
	.wm8-9 {
		opacity: 0;
		left: 4%;
		top: 4%;
		height: 4%;
	}
	,
	.wm8 {
		opacity: 1;
		left: 4%;
		top: 455%;
		height: 50%;
	}
	,
	.wm9 {
		opacity: 1;
		right: 9%;
		top: 510%;
		height: 55%;
	}
	,
	.wm10 {
		right: 5.5%;
		top: 570%;
		height: 64%;
	}
}
