.wrapper {
	width: 100vw;
}

.mrManhatten {
	position: absolute;
	height: 85%;
	left: 5%;
	top: 5%;
}

.mrPlumbob {
	position: absolute;
	height: 80%;
	left: 25%;
	top: 90%;
}

.fatMan {
	position: absolute;
	height: 80%;
	left: 35%;
	top: 170%;
}

.annie {
	position: absolute;
	height: 80%;
	left: 35%;
	top: 230%;
}

.gilda {
	position: absolute;
	height: 80%;
	left: 25%;
	top: 290%;
}
