.mrManhatten {
	position: absolute;
	height: 105%;
	left: 4%;
	top: 5%;
}

.mrPlumbob {
	position: absolute;
	height: 100%;
	right: 15%;
	top: 122%;
}

.fatMan {
	position: absolute;
	height: 90%;
	padding-right: 5%;
	top: 240%;
}

.annie {
	position: absolute;
	height: 85%;
	padding-left: 5%;
	top: 345%;
}

.gilda {
	position: absolute;
	height: 80%;
	right: 5%;
	top: 445%;
}

@media only screen and (max-width: 600px) {
	.mrManhatten {
		height: 41%;
		top: 10%;
		left: 12%;
	}
	,
	.mrPlumbob {
		top: 137%;
		height: 30%;
		right: 4%;
	}
	,
	.fatMan {
		top: 30%;
		height: 20%;
		right: 4%;
	}
	,
	.annie {
		top: 188%;
		height: 35%;
		left: 5%;
	}
	,
	.gilda {
		top: 240%;
		height: 31%;
		left: 8%;
	}
}

@media screen and (max-width: 900px) and (min-width: 601px) {
	.mrManhatten {
		height: 50%;
		left: 3%;
		top: 4%;
	}

	.mrPlumbob {
		height: 50%;
		right: 9%;
		top: 65%;
	}

	.fatMan {
		position: absolute;
		height: 50%;
		left: 5%;
		top: 128%;
	}

	.annie {
		position: absolute;
		height: 50%;
		right: 5%;
		top: 195%;
	}

	.gilda {
		position: absolute;
		height: 50%;
		left: 5%;
		top: 254%;
	}
}
