.homeImagesWrapper {
	position: relative;
	height: 100vh;
	width: 61%;
	left: 0%;
}

.titlesTextBox {
	position: absolute;
	top: 26%;
	right: 5.5%;
	height: 400px;
	width: 369px;
	text-align: right;
}

h3 {
	color: rgb(36, 234, 252);
	font-weight: 400;
}

h3:hover {
	color: rgb(255, 71, 153);
}

.rhondaTitle {
	text-decoration: none;
}

.copyrightBox {
	position: absolute;
	top: 2%;
	color: rgb(255, 255, 255);
}
