.wrapper {
	width: 100vw;
}

.rhonda1 {
	position: absolute;
	// top: 8%;
	padding: 5% 0 0 5%;
	// left: 5%;
	height: 115%;
}

.rhonda2-3 {
	position: absolute;
	top: 145%;
	right: 2%;
	width: 90%;
}

.rhonda4 {
	position: absolute;
	top: 238%;
	left: 5%;
	height: 88%;
}

.rhonda5 {
	position: absolute;
	top: 345%;
	right: 5%;
	height: 65%;
}

.rhonda6 {
	position: absolute;
	top: 425%;
	left: 5%;
	height: 65%;
	padding-bottom: 4%;
}
