.wrapper {
	width: 100vw;
}

.rhonda1 {
	position: absolute;

	padding: 5% 0 0 5%;

	height: 115%;
}

.rhonda2-3 {
	position: absolute;
	top: 145%;
	right: 2%;
	width: 90%;
}

.rhonda4 {
	position: absolute;
	top: 238%;
	left: 5%;
	height: 88%;
}

.rhonda5 {
	position: absolute;
	top: 345%;
	right: 5%;
	height: 65%;
}

.rhonda6 {
	position: absolute;
	top: 425%;
	left: 5%;
	height: 65%;
	padding-bottom: 4%;
}

.rhonda2 {
	opacity: 0;
}

.rhonda3 {
	opacity: 0;
}

@media only screen and (max-width: 600px) {
	.rhonda1 {
		height: 60%;
		top: 11%;
		right: 9%;
	}
	,
	.rhonda2-3 {
		display: none;
	}
	,
	.rhonda2 {
		position: absolute;
		top: 133%;
		opacity: 1;
		height: 50%;
		right: 5.5%;
	}
	,
	.rhonda3 {
		position: absolute;
		top: 192%;
		opacity: 1;
		width: 85%;
		left: 5%;
	}
	,
	.rhonda4 {
		top: 255%;
		height: 31%;
		left: 13%;
	}
	,
	.rhonda5 {
		top: 296%;
		height: 25%;
		left: 5%;
	}
	,
	.rhonda6 {
		top: 331%;
		height: 30%;
		left: 13%;
	}
}
