.phormButtons {
	display: flex;
	height: 300px;
	width: 300px;

	flex-direction: column;
	background-color: rgb(116, 209, 12);
}

.phormButtons > div {
	background-color: #f1f1f1;
	position: absolute;
	width: 200px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}
