.wrapper {
  width: 100vw;
}

.aboutImg {
  position: absolute;
  height: 105%;
  left: 7%;
  top: 8%;
}

.aboutWrapper {
  position: absolute;
  right: 5.5%;
  top: 40%;
  height: 800px;
  width: 350px;
  text-align: right;
  color: rgb(0, 204, 255);
}

.pastWrapperLarge {
  position: absolute;
  left: 8%;
  top: 145%;
  color: rgb(174, 0, 255);
  line-height: 1.5;
  opacity: 1;
}
.pastWrapperSmall {
  position: absolute;
  color: rgb(174, 0, 255);
  opacity: 0;
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .pastWrapperLarge {
    top: 118%;
  }
}

@media only screen and (max-width: 600px) {
  .aboutImg {
    opacity: 0.9;
    left: 1%;
    top: 16%;
    height: 80%;
  }
  ,
  .aboutWrapper {
    top: 15%;
  }
  ,
  .pastWrapperLarge {
    top: 1%;
    opacity: 0;
  }
  ,
  .pastWrapperSmall {
    position: absolute;
    left: 8%;
    top: 107%;
    line-height: 1.5;
    opacity: 1;
  }
}
