.wrapper {
  width: 100vw;
}

.BSTextWrapper {
  position: absolute;
  right: 5.5%;
  top: 40%;
  height: 800px;
  width: 350px;
  text-align: right;
  color: rgb(0, 33, 255);
}

.bs1 {
  position: absolute;
  padding: 5% 0 0 5%;
  height: 80%;
}

.bs2 {
  position: absolute;
  top: 435%;
  height: 95%;
  left: 5%;
  padding-bottom: 50px;
}

.bsgif1 {
  position: absolute;
  height: 80%;
  top: 133%;
  right: 5%;
}

.bsgif2 {
  position: absolute;
  height: 80%;
  top: 234%;
  left: 5%;
}

.bsgif3 {
  position: absolute;
  height: 80%;
  top: 335%;
  right: 5%;
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .bs1 {
    right: 9%;
    height: 60%;
    padding: 78px 0 0 0;
  }

  ,
  .BSTextWrapper {
    top: 78%;
  }

  ,
  .bsgif1 {
    height: auto;
    height: 40%;
    top: 142%;
  }
  ,
  .bsgif2 {
    height: auto;
    height: 40%;
    top: 195%;
  }
  ,
  .bsgif3 {
    height: auto;
    height: 40%;
    top: 249%;
  }
  ,
  .bs2 {
    height: auto;
    height: 60%;
    top: 303%;
  }
}

@media screen and (max-width: 600px) and (min-width: 321px) {
  .bs1 {
    height: 40%;
    padding: 46px 0 0 0;
    right: 9%;
  }

  ,
  .BSTextWrapper {
    top: 53%;
  }

  ,
  .bsgif1 {
    height: 30%;
    top: 120%;
  }
  ,
  .bsgif2 {
    height: 30%;
    top: 162%;
  }
  ,
  .bsgif3 {
    height: 30%;
    top: 205%;
  }
  ,
  .bs2 {
    height: 35%;
    top: 248%;
  }
}

@media screen and (max-width: 320px) {
  .bs1 {
    height: 40%;
    padding: 46px 0 0 0;
    right: 9%;
  }

  ,
  .BSTextWrapper {
    top: 55%;
  }

  ,
  .bsgif1 {
    height: 30%;
    top: 122%;
  }
  ,
  .bsgif2 {
    height: 30%;
    top: 171%;
  }
  ,
  .bsgif3 {
    height: 30%;
    top: 211%;
  }
  ,
  .bs2 {
    height: auto;
    height: 40%;
    top: 252%;
  }
}
